# Android Studio
.idea/
*.iml

# Gradle
.gradle/

# Local properties / secrets
local.properties
/local.properties

# Android Studio generated
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# OS
.DS_Store

# Build folders
**/build/
/captures
.externalNativeBuild/
.cxx/

# Kotlin cache
.kotlin/

# VS Code
.vscode/

# Node
node_modules/

# Supabase temp
supabase/.temp/

# Secrets
.env
*.keystore
*.jks
*.json
attops-*.json

